@charset "utf-8";
/* @import url("fontawesome-4.5.0.min.css"); */

body {
	font-size:12px;
	color:#888888; 
	background-color:#EEEEEE;
}

/* Fonts*/
body, input, textarea, select{font-family:Verdana, Geneva, sans-serif;}

.header{
	height:60px;
}
.header_col1{
	top:15%;
}
.header_col2{
	top:40%;
	font-size:12px;
}
.header_col3{
	top:25%;;
}

.font-10{
	font-size:10px;
}
.font-12{
	font-size:12px;
}

.font-h1, .font-h2, .font-h3, .font-h4{
    font-family: Georgia, "Times New Roman", Times, serif;
}

.font-h1{
	font-size: 2em;
}
.font-h2{
	font-size: 1.5em;
}
.font-h3{
	font-size: 1.17em;
}
.font-h4{
	font-size: 1.12em;
}

/* h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; } */


.wrapper {
	display:block; 
	width:100%; 
	margin:0; 
	padding:0; 
	text-align:left; 
	word-wrap:break-word;
}



.center_horizontal {
	display:block; 
	margin:0 auto;
	max-width:90%;
}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

.header_row {
 	color:#888888; 
	background-color:#EEEEEE;
}
.content_row {
	color:#888888; 
	background-color:#FFFFFF;
}
.footer_row {
 	color:#888888; 
	background-color:#EEEEEE;
}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}


/* Header Bar*/
#headerbar {
	padding:10px 0 15px; 
	font-size:12px;
	text-align:center;
}
#headerbar .fl_left {
	margin-top:4px;
}
#headerbar .fl_left .inline > li i {
	margin:0 5px 0 0; 
	line-height:normal;
}
#headerbar *{margin:0;}
#headerbar .fl_left ul{margin:0 0 10px 0; line-height:normal;}
#headerbar .fl_left ul li{display:inline-block; margin-right:20px;}
#headerbar .fl_left ul li:last-child{margin-right:0;}
#headerbar .faico li{float:none;}

/***** Tables *****/
table, th, td {
	border:1px solid; 
	border-collapse:collapse; 
	vertical-align:top;
}
table, th {
	table-layout:auto;
}
table {
	width:100%; 
	margin-bottom:15px;
}
th, td {
	padding:5px 8px;
}
td {
	border-width:0 1px;
}
table, th, td, input, textarea {
	border-color:#D7D7D7;
}
th {
	color:#FFFFFF; 
	background-color:#373737;
}
tr {
	color:inherit; 
	background-color:#fbfbfb;
}
tr:nth-child(even) {
	color:inherit; 
	background-color:#f7f7f7;
}

/* Font Awesome Social Icons */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:block; width:30px; height:30px; line-height:30px; font-size:14px; text-align:center; border-radius:50%;}
.faico a{color:inherit; background-color:#DADADA;}

.faico a:hover{color:#FFFFFF;}
.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-pinterest:hover{background-color:#C8232C;}
.faicon-rss:hover{background-color:#EE802F;}
.faicon-twitter:hover{background-color:#00ACEE;}

/***** Breadcrumb *****/
.btn-breadcrumb{
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: solid 1px #ccc;
}
.btn-breadcrumb .btn{
	border-color: transparent; border: 0px solid transparent;
	border-right: 1px solid transparent !important; 
	font-size: 11px;
}
.breadcrumb-default{ background-color: #fff; }
.btn-primary,.breadcrumb-primary{ background-color: #337ab7; }
.btn-primary:hover{background-color: #286090;}

.breadcrumb-success{ background-color: #5cb85c; }
.breadcrumb-info{ background-color: #5bc0de; }
.breadcrumb-warning{ background-color: #f0ad4e; }
.breadcrumb-danger{ background-color: #d9534f; }
.breadcrumb-negro{ background-color: #d4d4d4; }

.btn-breadcrumb .btn:last-child {font-weight: bold; text-decoration: underline;}
.btn-breadcrumb .btn:last-child:after{margin-left: -2px;}
.btn-breadcrumb .btn:last-child:before{margin-left: -1px;}

.btn-breadcrumb .btn-derecha{
	float: right;
	margin-right: 0px;
	padding: 6px 10px 6px 10px !important;
	margin-left: 0px !important;
	border-radius: 0px !important; 
}
.btn-breadcrumb .btn-derecha:first-child { 
	border-top-right-radius: 2px !important; 
	border-bottom-right-radius: 2px !important; 
}

.btn-breadcrumb .btn-derecha:after, .btn-breadcrumb .btn-derecha:before{
	content: none !important;
}

.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 0px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {padding:6px 12px 6px 24px;}
.btn-breadcrumb .btn:first-child {padding:6px 6px 6px 10px;}
.btn-breadcrumb .btn:last-child {padding:6px 18px 6px 24px;}

/** Default button **/
.btn-breadcrumb .btn.btn-default:after { border-left: 10px solid #fff;}
.btn-breadcrumb .btn.btn-default:hover:after {border-left: 10px solid #e6e6e6;}
.btn-breadcrumb .btn.btn-default:hover:before, .btn-breadcrumb .btn.btn-default:before {border-left: 10px solid #adadad;}
.breadcrumb-default{ border: solid 1px #adadad; }

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:after {border-left: 10px solid #337ab7;}
.btn-breadcrumb .btn.btn-primary:hover:after {border-left: 10px solid #286090;}
.btn-breadcrumb .btn.btn-primary:hover:before, .btn-breadcrumb .btn.btn-primary:before {border-left: 10px solid #204d74;}
.breadcrumb-primary{ border: solid 1px #204d74; }

/** Success button **/
.btn-breadcrumb .btn.btn-success:after {border-left: 10px solid #5cb85c;}
.btn-breadcrumb .btn.btn-success:hover:after {border-left: 10px solid #449d44;}
.btn-breadcrumb .btn.btn-success:hover:before, .btn-breadcrumb .btn.btn-success:before {border-left: 10px solid #398439;}
.breadcrumb-success{ border: solid 1px #398439; }

/***** Footer *****/
#footer{padding:20px 0;}

#footer .title{margin:0 0 50px 0; padding:0; font-size:1.3rem; text-transform:uppercase;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}


#footer .title{color:#333333;}
#footer .linklist li{border-color:#DADADA;}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#333333; background-color:#DADADA;}
#footer input:focus{border-color:#E9365A;}
#footer button{color:#FFFFFF; background-color:#E9365A;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:30px 0; border-top:1px solid;}
#copyright *{margin:0; padding:0;}
#copyright{border-color:#DADADA;}

#backtotop{color:#FFFFFF; background-color:#E9365A;}


/***** Modal *****/
.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.video-link {
    padding-top: 70px;
}
 
.video-link a:hover,
.video-link a:focus {
    outline: 0;
}
 
a .video-link-text {
    color: #fff;
    opacity: 0.8;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
 
a:hover .video-link-text, 
a:focus .video-link-text {
    outline: 0;
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
}
 
a .video-link-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #e89a3e;
    color: #fff;
    line-height: 50px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a .video-link-icon:after {
    position: absolute;
    content: "";
    top: -6px;
    left: -6px;
    width: 66px;
    height: 66px;
    background: #444;
    background: rgba(0, 0, 0, 0.1);
    z-index: -99;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
 
a:hover .video-link-icon,
a:focus .video-link-icon {
    outline: 0;
    background: #fff;
    color: #e89a3e;
}

/***** Weitere Styles *****/
hr, .borderedbox {
	border-color:red;
}
	
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.glyphicon-star { 
  color: #e67e22; 
  font-size: 1.0em;
}

.glyphicon-star-empty { 
  font-size: 1.0em;
}

.glyphicon { 
	margin-right:5px;
}