@charset "utf-8";

html, body{
	margin:0; 
	padding:0; 
	overflow-y: scroll !important;
	font-size:12px !important;
	font-family: Arial, Verdana !important;
	/* font-family: Georgia, Arial, Verdana !important; */
}

body{
	color:#888888 !important; 
	background-color:#EEEEEE !important; 
}

.font-10{
	font-size:10px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-18{
	font-size:18px;
}

.font-h1{
	font-size: 2em;
}
.font-h2{
	font-size: 1.5em;
}
.font-h3{
	font-size: 1.17em;
}
.font-h4{
	font-size: 1.12em;
}

/* h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; } */

.center_horizontal {
	display:block; 
	margin:0 auto;
	max-width:90%;
}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

.header_row {
	margin: 0 auto;
	height:60px;
 	color:#888888; 
	background-color:#EEEEEE;
}
.content_row {
	color:#888888; 
	background-color:#FFFFFF;
}
.footer_row {
 	color:#888888; 
	background-color:#EEEEEE;
}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

/***** Vertical Box *****/
.vertical-box{
    display: table;
    width: 100%;
    margin-bottom:10px;
}
.vertical-box .box-tr {
    display: table-row;
}
.vertical-box .box-td {
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
}

/***** Scroll to Top *****/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/***** Kinosaal *****/
.seat {
	border-radius: 50%;
	background-color: gray;
	color: white;
	text-align: center;
	text-decoration: none;
	margin: auto;
	border: solid;
	height: 19px;
	width: 19px;
	padding: 0px;
}

.selected {background-color: #E9365A;}

.leinwand {
	background-color: gray;
	border-width: 20px;
	border-color: white;
	color: white;
	text-align: center;
	padding: 5px 5px;
}

.noborder {
	border: none;
	text-align: center;
	padding: 0px;
}

table.noborder {
	width:100%; 
	margin-bottom:10px;
	border-collapse:collapse;
}

.PREMIUM {background-color: #f1c40f;}
.RESERVED {background-color: green;}
.HIDDEN {visibility: hidden;}
.SOLD { background-color: #E9365A; }
.HANDYCAP { background-color: #3498db; }

select {color: #4f4f4f;}

/***** CreditCard Box *****/
.credit-card-box .panel-heading {
	padding: 5px 15px;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
}

/***** Tables *****/
th {
	color:#e6e6e6; 
	background-color:#4d4d4d;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

/***** Tooltip *****/
.tooltipx {
    position: relative;
    display: inline-block;
}

.tooltipx .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltipx .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipx:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/***** Social Icons *****/
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:block; width:30px; height:30px; line-height:30px; font-size:14px; text-align:center; border-radius:50%;}
.faico a{color:inherit; background-color:#DADADA;}

.faico a:hover{color:#FFFFFF;}
.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-pinterest:hover{background-color:#C8232C;}
.faicon-rss:hover{background-color:#EE802F;}
.faicon-twitter:hover{background-color:#00ACEE;}

/***** Breadcrumb *****/
.btn-breadcrumb{
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: solid 1px #ccc;
}
.btn-breadcrumb .btn{
	border-color: transparent; border: 0px solid transparent;
	border-right: 1px solid transparent !important; 
	font-size: 11px;
}
.breadcrumb-default{ background-color: #fff; }
.btn-primary,.breadcrumb-primary{ background-color: #337ab7; }
.btn-primary:hover{background-color: #286090;}

.breadcrumb-success{ background-color: #5cb85c; }
.breadcrumb-info{ background-color: #5bc0de; }
.breadcrumb-warning{ background-color: #f0ad4e; }
.breadcrumb-danger{ background-color: #d9534f; }
.breadcrumb-negro{ background-color: #d4d4d4; }

.btn-breadcrumb .btn:last-child {font-weight: bold; text-decoration: underline;}
.btn-breadcrumb .btn:last-child:after{margin-left: -2px;}
.btn-breadcrumb .btn:last-child:before{margin-left: -1px;}

.btn-breadcrumb .btn-derecha{
	float: right;
	margin-right: 0px;
	padding: 6px 10px 6px 10px !important;
	margin-left: 0px !important;
	border-radius: 0px !important; 
}
.btn-breadcrumb .btn-derecha:first-child { 
	border-top-right-radius: 2px !important; 
	border-bottom-right-radius: 2px !important; 
}

.btn-breadcrumb .btn-derecha:after, .btn-breadcrumb .btn-derecha:before{
	content: none !important;
}

.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 0px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** Spacing **/
.btn-breadcrumb .btn {padding:6px 12px 6px 24px;}
.btn-breadcrumb .btn:first-child {padding:6px 6px 6px 10px;}
.btn-breadcrumb .btn:last-child {padding:6px 18px 6px 24px;}

/** Default button **/
.btn-breadcrumb .btn.btn-default:after { border-left: 10px solid #fff;}
.btn-breadcrumb .btn.btn-default:hover:after {border-left: 10px solid #e6e6e6;}
.btn-breadcrumb .btn.btn-default:hover:before, .btn-breadcrumb .btn.btn-default:before {border-left: 10px solid #adadad;}
.breadcrumb-default{ border: solid 1px #adadad; }

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:after {border-left: 10px solid #337ab7;}
.btn-breadcrumb .btn.btn-primary:hover:after {border-left: 10px solid #286090;}
.btn-breadcrumb .btn.btn-primary:hover:before, .btn-breadcrumb .btn.btn-primary:before {border-left: 10px solid #204d74;}
.breadcrumb-primary{ border: solid 1px #204d74; }

/** Success button **/
.btn-breadcrumb .btn.btn-success:after {border-left: 10px solid #5cb85c;}
.btn-breadcrumb .btn.btn-success:hover:after {border-left: 10px solid #449d44;}
.btn-breadcrumb .btn.btn-success:hover:before, .btn-breadcrumb .btn.btn-success:before {border-left: 10px solid #398439;}
.breadcrumb-success{ border: solid 1px #398439; }

/***** Payment *****/
.payment_choice table{margin-bottom:5px;}
.payment_choice table, th, td{border-style: hidden !important;}
.payment_choice td{width:50%;}

/***** Footer *****/
#footer{padding:20px 0;}

#footer .title{margin:0 0 50px 0; padding:0; font-size:1.3rem; text-transform:uppercase;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

#footer .title{color:#333333;}
#footer .linklist li{border-color:#DADADA;}

/***** Modal *****/
.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
/***** Weitere Styles *****/	
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.glyphicon-star { 
  color: #e67e22; 
  font-size: 1.0em;
}

.glyphicon-star-empty { 
  font-size: 1.0em;
}

.glyphicon { 
	margin-right:5px;
}