@charset "utf-8";
@import url("frameworkNew.css");


/* Colours
--------------------------------------------------------------------------------------------------------------- */
/* hr, .borderedbox{border-color:red;} */
label span{color:blue; background-color:inherit;}
/* input:focus, textarea:focus, *:required:focus{border-color:yellow;} */
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.coloured::after{color:#292B2C; background-color:rgba(233,54,90,.5);/* #E9365A */}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
}

@media screen and (max-width:450px){
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
}